button {
  background: $button-background;
  border: $button-border;
  color: $button-text-color;
  font-size: $button-font-size;
  margin-top: $button-margin-top;
  padding: $button-padding;
  transition: $button-transition;

  &:hover {
    background: $button-hover-background;
    color: $button-hover-text-color;
    cursor: pointer;
  }
}
