// card
$card-text-color: #000;
$card-color-bg: #fff;
$card-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
$card-margin-vertical: .5rem;
$card-margin-horizontal: .7rem;
$card-max-width: 340px;
$card-min-width: 300px;
$card-width: 33.333%;
$card-header-overlay-color-top: rgba(47, 153, 255, .5);
$card-header-overlay-color-bottom: rgba(47, 153, 255, .5);
$card-header-min-height: 250px;
$card-info-margin: 1rem;
$card-info-text-margin-top: .5rem;

// base
$h-text-color: #ffefd5;
$a-text-color: #7b68ee;
$selection-text-color: #000;
$a-underline-background: rgba(darken($a-text-color, 20%), .16);
$a-underline-transition-duration: 200ms;
$a-underline-height: 1.5px;
$a-underline-color: lighten($a-text-color, 15%);
$a-padding-vertical: 0;
$a-padding-horizontal: .35em;
$font-stack: 'Century Gothic', 'Helvetica', 'Arial';

// page
$page-background-overlay-color: rgba(47, 153, 255, .85);
$page-background-overlay: linear-gradient($page-background-overlay-color, $page-background-overlay-color);
$page-background: url('images.unsplash.com/photo-1443770760695-e1bfa3e62229?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1199&amp;h=799&amp;q=80&amp;cs=tinysrgb&amp;crop=') no-repeat center;
$page-header-text-color: #fff;
$page-header-height: 55vh;
$page-header-padding-horizontal: 10px;
$page-header-h1-font-size: calc(2rem + 1.5vw);
$page-header-children-margin: .7rem 0;
$page-section-background: #fff;
$page-section-text-color: #000;
$section-padding-vertical: .7rem;
$section-padding-horizontal: 10px;
$section-h2-font-size: calc(1rem + 2vw);
$section-h2-padding-vertical: .5rem;
$section-h2-padding-horizontal: 0;
$footer-font-size: 2rem;
$footer-padding-vertical: 2rem;
$footer-padding-horizontal: 0;
$footer-text-color: #000;

// button
$button-background: transparent;
$button-border: .01em solid #fff;
$button-text-color: #fff;
$button-font-size: calc(1rem + .5vw);
$button-margin-top: .5em;
$button-padding: .5em 1em;
$button-transition: all .2s ease-in-out;
$button-hover-background: #fff;
$button-hover-text-color: #2f99ff;
